/***
	#XXXXXX
	#F4842D
 ***/

body
{
	/*margin: 0px 20% 0px 20%;*/
	background-color: #dedede;
	font-family: "Sans";
	color: #FFFFFF;
}

#wrapper 
{
	width: 900px;
	margin: auto;
	background-color: #333333;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.38);
}

#content
{
	text-align: justify;
	margin: 15px;
}

a:link, a:visited 
{
	color: #EEEEEE;
	text-decoration: none;
}

a:hover, a:active 
{
	color: #FFFFFF;
	text-decoration: underline;
} 

h1
{
	text-align: center;
}

/* Navigation bar */

#navbar 
{
	width:100%;
	overflow:hidden;
	margin-bottom: 10px;
	background-color: #d64937;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#navbar ul 
{
	clear:left;
	margin:0;
	padding:0;
	left:50%;
	text-align:center;
}

#navbar li:hover
{
	/*display: block;*/
	background-color: #ca3c29;
}

#navbar ul li 
{
	right:50%;
}

#navbar ul, #navbar ul li
{
	list-style:none;
}

#navbar, #navbar ul, #navbar ul li
{
	float:left;
	position:relative;
}

#navbar li a
{
	padding:5px 10px 5px;
	display: block;
}

#navbar a:link, #navbar a:visited, #navbar a:hover, #navbar a:active
{
	color: #FFFFFF;
	text-decoration: none;
}
/* End Navigation bar */


/* Reaction styling */
.reaction
{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5em;
}
/* End Reaction styling */

/* Front table */

th
{
	background-color: #d64937;
}

td, th
{
	padding: 4px;
}

tr, table
{
	border-collapse: collapse;
	border: 1px solid white;
}

tr:nth-child(even)
{
	background-color: #333333
}

tr:nth-child(odd)
{
	background-color: #2d2d2d
}

/* Front table */

/* Button */
#button, input[type=submit] {
	background-color: #d64937; /*yellow*/
	margin-right: 10px;
	padding: 7px 13px;
	font-size: 16px;
	line-height: 100%;
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}

#button:hover, input[type=submit]:hover {
	background-color: #ca3c29;
}

/* Button */

/* Form Styling */
input[type=submit] {
	border:0 none;
}

input[type=text], input[type=password], input[type=textarea], input[type=date] {
	padding:3px;
	border:1px solid #ccc; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

label
{ 
	display: inline-block; 
	width: 140px; 
	text-align: right; 
}​